body, html{
  height:100vh
}
.body{
  display:grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  grid-template-rows: 8% 30% auto% 10%;
  grid-template-areas:
    "aside header header headr"
    "aside sect1 sect2 sect3"
    "aside main main main"
    "aside footer footer footer";
}
aside{
  grid-area:sidebar;
  background-color:#000FFF;
}
